<!-- Menú principal --> 
<div class="row justify-content-md-center menu-fixed bs_gutter-x-0"></div>
    <nav class="principal-nav navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid menu_cel"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                <ul class="navbar-nav justify-content-center">
                    <% navbarLinks.forEach(n => { %>
                        <li class="nav-item">
                            <a href=<%=n.url %> class="nav-link <% if(n.url == path){ %> active <% }%> aria-current="page"><%=n.title %></a>
                        </li> 
                    <% }) %>
                </ul>
            </div>
        </div>
    </nav>
</div>