<!-- Menú principal --> 
<div class="row justify-content-md-center menu-fixed bs_gutter-x-0">
    <nav class="principal-nav navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid menu_cel"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                <ul class="navbar-nav justify-content-center">
                    {{#each navbarLinks}}
                        <li class="nav-item">
                            <a href="{{url}}" class="nav-link {{ active url ../path }}" aria-current="page">{{title}}</a>
                        </li>  
                    {{/each}}                                                              
                </ul>
            </div>
        </div>
    </nav>
</div>